*{

}

.boardKey {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	height: 70px;
	min-width: 60px;
	margin: 5px;
	padding: 0px 5px;
	border: 2px solid black;
	border-radius: 5px 5px;

}

.boardKey span {
		font-family: 'Ubuntu';
		font-size: 2em;
}

.boardKey:hover {
	box-shadow: 3px 3px 1px black;
	text-shadow: 1px 1px 10px #ddd;
	cursor: pointer;
}

.boardKey:active{
	box-shadow: none;
	text-shadow: none;
}

.row {
	display: flex;
	justify-content: center;
}
